.col-wrap-container { 
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    max-height: 150px;
    margin-top: 20px;

    &.fluid {
        max-height: 100%;
    }

    &.row-wrap {
        @media (min-width: 365px) {
            flex-flow: row wrap;
        }
    }

    &.justify-center {
        justify-content: center;
    }
    &.flex-start {
        justify-content: flex-start;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.align-items-center {
        align-items: center;
    }

    &.flex-end {
        align-items: flex-end;
    }
}

.checkbox-container {
    display: flex;
    margin: 10px;
    justify-items: center;
    min-width: 300px;
    min-height: 30px;
}

.bg-input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.margin-sm-left {
    margin-left: 5px;
}

.margin-sm-right {
    margin: 5px;
}

.full-width {
    display: flex;
    flex: 0 0 80%;
}

.text-align-center {
    font-weight: bold;
    text-align: center;
    padding: 0px !important;
}

.reports {
    display: flex;
    flex-direction: column;
}


.button-border {
    margin-top: 10px;
    width: 125px;

    &:disabled {
        background-color: $brand-grey !important;
        color: #2a2a2a !important;
    }
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.no-wrap {
    white-space: nowrap;
}

.reports-resource-list {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}


.resource-card {
    display: flex;
    width: 125px;
    height: 225px;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
        height: 72px;
        overflow-wrap: break-word;
        overflow: hidden;
      
        &:hover {
          overflow: visible;
        }
    }
}


.date-range {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: center;
}

.align-center {
    display: flex;
    align-self: center !important;
}


.date-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    &:nth-child(1) {
        margin-bottom: 5px;
    }
}

.reports-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.page-btn { 
    flex: 1 0 10%;
    width: 54px;
    max-width: 54px;
}

.reports-weekday-calendar {
    position: relative;
    width: 0;
    height: 0;
    display: none;
    ul {
        top: -115px;
        left: -46.5px;
        display: flex;
        flex-flow: row wrap;
        position: absolute;
        min-width: 220px;
        max-width: 220px;
        min-height: 110px;
        border: 2px solid black;
        padding: 0;
        
        .calendar-header {
            background-color: lightskyblue;
            width: calc(100% + 4px);
            height: 25px;
            position: absolute;
            top: -25px;
            right: -2px;
            border: 2px solid black;
            border-bottom: 1px solid black;

            display: flex;
            justify-content: flex-end;

            i {
                margin-right: 5px;
                margin-top: 2px;
                cursor: pointer;
            }
        }

        li {
            list-style-type: none;
            min-width: 40px;

            label {
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                * { cursor: pointer; }
            }
        }
    }
}