.card-item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 582px;

    &.align-center {
        align-items: center;
    }

    &>.card-item {
        display: flex;
        flex-direction: column;
        max-width: 250px;
        width: 250px;
        height: 250px;
        margin: 15px;
        justify-content: flex-start;
        align-content: center;
        box-shadow: 0 1px 3px rgba(0,0,0,0.15);
        

        &>.card-img-center {
            max-width: 100px;
            max-height: 100px;
            display: flex;
            align-self: center;
            margin-top: 5px;
        }
        &>.card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 10px;
            height: 100%;
            word-wrap: break-word;
            overflow-wrap: break-word;
            
            &>.card-header {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                &>.card-text {
                    display: grid;
                    font-size: 14px;
                }
    
                h5.card-title {
                    font-size: 16px;
                }
            }
            
            h6 {
                margin-top: 5px;
            }
        }
    }
}

.card-footer {
    text-align: center;
    display: flex;
    justify-content: center;
    * {
        margin: 10px;
        user-select: none;
    }
}

.margin-top-5 {
    margin-top: 5px;
}