*~
__pycache__
db.sqlite3
*.mo
*.sqlite
media/
static/
.django_secret
./local_settings.py
/venv*
/.idea
.coverage
htmlcov
.cache
perf*csv
/*hack*py
*.egg-info
/build
/dist
/src
.env
/.vscode
env/
Lib/
scripts/
pyvenv*
.pytest_cache
pytest_cache
env*
static/*