arrow
asn1crypto
astroid
atomicwrites
attrs
Babel
beautifulsoup4
certifi
cffi
chardet
Click
colorama
coreapi
coreschema
coverage
cryptography>=3.4.6
daemonize
database-sanitizer>=0.4.0
defusedxml
Delorean
Django==2.2.27
django-admin-json-editor==0.2.3
django-allauth
django-anymail
django-appconf
django-cors-headers
django-enumfields==2.1.1
django-environ
django-filter>=2.4.0
django-grappelli
django-guardian
django-helusers==0.5.6
django-hstore
django-image-cropping
django-jinja
django-js-asset
django-modeltranslation
django-mptt
django-taggit
django-multi-email-field
django-munigeo
django-parler
django-parler-rest
django-reversion
django-sanitized-dump>=0.2.0
djangorestframework
djangorestframework-jwt==1.11.0
drf-oidc-auth==0.10.0
drf-yasg
easy-thumbnails
ecdsa
exchangelib
factory-boy
Faker
flake8
freezegun
future
humanize
icalendar
idna
inflection
iso8601
isort
itypes
Jinja2
jsonschema
lazy-object-proxy
lxml
MarkupSafe
mccabe
more-itertools
ntlm-auth
oauthlib
packaging
phonenumbers
Pillow>7.0.0
pluggy
--no-binary psycopg2
psycopg2
py
pyasn1
pycodestyle
pycparser
pycryptodomex
pyflakes
pyjwkest
PyJWT
pylint>2.4.4
pylint-django
pylint-plugin-utils
pyparsing
pytest
pytest-cov
pytest-django
python-dateutil
python-docx
python-jose
python3-openid
pytz
PyYAML
raven
requests
requests-cache
requests-ntlm
requests-oauthlib
rsa>4.0
ruamel.yaml
ruamel.yaml.clib
sentry-sdk
six
social-auth-app-django
social-auth-core==4.0.2
sqlparse
swagger-spec-validator
tendo
text-unidecode
typed-ast
tzlocal
uritemplate
urllib3
wrapt
XlsxWriter
