{% load i18n %}
{% load thumbnail %}
{% get_current_language as LANGUAGE_CODE %}

{% if resources %}
<div 
    class="col-wrap-container fluid row-wrap border-thick"
    data-paginate="true"
    data-paginator-id="{{ paginator_id }}"
    data-paginator-per-page="{{ per_page }}"
    style="min-height: 500px;">
    {% for resource in resources %}
        <div class="resource-card" 
            data-paginator-item="true"
            data-paginator-filter-value="{{ resource.name }}">
            <div class="card">
                <img
                    class="img-rounded pull-left"
                    alt=""
                    src={% if resource.main_image %}
                        "{% thumbnail resource.main_image 100x100 crop %}"
                    {% else %}
                        ""
                    {% endif %}
                >
                <label 
                    for="{{ resource.id }}"
                    class="margin-sm-left text-align-center no-select">
                    {{ resource.name }}
                </label>
            </div>
            {% if resource.checked %}
                <input type="checkbox" id="{{ resource.id }}" name="resource" class="bg-input" value="{{ resource.id }}" checked />
            {% else %}
                <input type="checkbox" id="{{ resource.id }}" name="resource" class="bg-input" value="{{ resource.id }}" />
            {% endif %}
        </div>
    {% endfor %}
</div>
<div class="col-wrap-container row-wrap fluid space-between">
    <div
        id="paginator-page-container"
        class="col-wrap-container row-wrap fluid justify-center"
        data-paginator-id="{{ paginator_id }}">
    </div>
    <div id="per-page-menu" class="col-wrap-container row-wrap align-items-center border-bottom">
        <label class="btn {% if per_page == 10 %} btn-selected {% endif %}">10
            <input type="radio" name="per-page" data-value="10" id="first" style="display: none;"/>
        </label>
        <label class="btn {% if per_page == 20 %} btn-selected {% endif %}">20
            <input type="radio" name="per-page" data-value="20" id="second" style="display: none;"/>
        </label>
        <label class="btn {% if per_page == 50 %} btn-selected {% endif %}">50
            <input type="radio" name="per-page" data-value="50" id="third" style="display: none;"/>
        </label>
    </div>
</div>
{% endif %}