#scheduled-publishing {
    .form-container {
        .field-group-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 6px 12px;
            p {
                font-weight: bold;
                display: inline-block;
                max-width: 55%;
                margin-bottom: 0px;
                color: #525a65;
            }

            input[type="datetime-local"] {
                border: 2px solid black;
                width: 220px;
                height: 50px;
                text-align: center;
            }
        }
    }
}