{% extends "respa_admin/_base.html" %}
{% load static %}
{% load i18n %}


{% block koro_shape %}
<div id="popup-notification" class="popup-notification">
    <span id="popup-message" class="text-center"></span>
</div>
<section class="hero-section bg-light {{ KORO_STYLE }}">
    <form action="." method="get">
        <div class="container reports">
            <div class="headline">
                <div class="listing-report row">
                    <h1 class="col-sm-6">{% trans 'Reports' %}</h1>
                </div>
            </div>
            <div class="col-wrap-container border-thick fluid row-wrap">
            {% for unit in units %}
                <div class="checkbox-container">
                    {% if unit.checked %}
                        <input type="checkbox" id="{{ unit.id }}" name="unit" class="bg-input" value="{{ unit.id }}" checked />
                    {% else %}
                        <input type="checkbox" id="{{ unit.id }}" name="unit" class="bg-input" value="{{ unit.id }}" />
                    {% endif %}
                    <label for="{{ unit.id }}" class="margin-sm-left text-align-center">{{ unit.name }}</label>
                </div>
            {% endfor %}
            </div>
            <div class="button-container">
                <button type="button" class="resources-button button-border" onclick="this.form.submit()">{% trans 'Search' %}</button>
            </div>
        </div>
    </form>
</section>
{% endblock koro_shape %}
{% block body %}
<section class='resources'>
    <div class='container reports'>
        {% if resources %}
        <div class="col-wrap-container row-wrap fluid space-between">
            <div class="col-wrap-container">
                <button type="button" class="btn btn-default" id="select-all-btn">{% trans 'Select all' %}</button>
            </div>
            <div class="form-group listing-search col-wrap-container fluid align-items-center">
                <div class="input-group">
                    <span class="input-group-addon">{% trans 'Filter' %}</span>
                    <input type="text" class="form-control text-input" id="resource-filter">
                </div>
            </div>
        </div>
        {% include "respa_admin/common/_paginated_resource_list.html" with resources=resources per_page=20 paginator_id=random_id_str %}
        <div class="col-wrap-container row-wrap space-between">
            <div class="col-wrap-container fluid row-wrap space-between">
                <div class="col-wrap-container">
                    <input type="date" class="margin-sm-left border-thick align-center" name="begin-date" id="begin-date" />
                    <label for="begin-date" class="control-label input-label align-center no-select">{% trans "Start date" %}</label>
                </div>
                <div class="col-wrap-container">
                    <input type="date" class="margin-sm-left border-thick align-center" name="end-date" id="end-date" />
                    <label for="end-date" class="control-label input-label align-center no-select">{% trans "End date" %}</label>
                </div>
                <div class="form-group col-wrap-container margin-sm-left">
                    <div class="reports-weekday-calendar" tabindex="-1">
                        <ul id="weekday-cal-popup">
                            <div class="calendar-header">
                                <i id="popup-close-btn" class="glyphicon glyphicon-remove small-text"></i>
                            </div>
                            {% for weekday in WEEKDAYS %}
                            <li>
                                <label class="control-label input-label align-center no-select">
                                    <input 
                                        id="{{ weekday.day }}"
                                        class="margin-sm-left border-thick align-center"
                                        type="checkbox" 
                                        title="{{ weekday.day|title }}"
                                        data-value="{{ weekday.value }}" 
                                        checked />
                                    <span>{% trans weekday.short|title %}</span>
                                 </label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="input-group">
                        <button id="weekday-cal-btn" class="btn btn-default border-thick">
                            <i class="glyphicon glyphicon-calendar"></i>
                            {% trans 'Weekdays'|title %}
                        </button>
                    </div>
                </div>
            </div>
            <div class="button-container row-reverse align-center">
                <button type="button" class="resources-button button-border" id="generate-btn" disabled>
                    {% trans 'Download' %}
                </button>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock body %}


{% block js_extra %}
    <script type="text/javascript" src="{% static 'respa_admin/reportForm-bundle.js' %}"></script>
{% endblock js_extra %}
