{% load i18n %}

<div class="panel panel-default form-toolbar-wrapper">
    <div class='container form-toolbar'>
        <span class="toolbar-label">{% trans "Functions" %}</span>
        <div class="{% if public_is_disabled %} 
            select-dropdown-disabled 
            {% else %}
            select-dropdown
            {% endif %} 
            btn btn-primary">
            <div id='public-dropdown-icon'></div> {{ form.public }}
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
        <div class="{% if reservable_is_disabled %} 
                select-dropdown-disabled 
                {% else %}
                select-dropdown
                {% endif %} 
                btn btn-primary">
            <div id='reservable-dropdown-icon'></div> {{ form.reservable }}
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
        {% if not all_fields_disabled %}
        <button class='resources-button' type="submit">{% trans "Save" %}</button>
        {% endif %}
        {% if resource and RESPA_ADMIN_VIEW_RESOURCE_URL %}
            <a href="{{ RESPA_ADMIN_VIEW_RESOURCE_URL }}" target="_blank" rel="noopener noreferrer">
                <button class='btn toolbar-preview' type='button'>
                {% trans "View resource" %}
                </button>
            </a>
        {% endif %}
    </div>
</div>
