{% extends "admin/change_form.html" %}
{% load static %}
{% block after_related_objects %}
<script type="text/javascript">
    (function ($) {
        function changeTaxfreeValue(edit = false) {
            // value of the read-only field that contains tax % when editing a pcg.
            const percValue = parseFloat($(".product_tax_percentage").find("div[class='grp-readonly']").text());
            // stop if perc doesn't exist because this only works when editing a pcg.
            if (!percValue) { return; }

            // current price_tax_free value
            const taxFreeValue = parseInt($("#id_price_tax_free").val());
            if (taxFreeValue == 0 || edit) {
                // value of the id_price input
                const priceValue = parseFloat($("#id_price").val());
                // unrounded taxfree price value.
                const sum = 100 * priceValue / (100 + percValue);
                // set price_tax_free input value to a rounded version of sum
                $("#id_price_tax_free").val((Math.round((sum + Number.EPSILON) * 100) / 100).toFixed(2));
            }
        };
        function changePrice(edit = false) {
            // value of the read-only field that contains tax % when editing a pcg.
            const percValue = parseFloat($(".product_tax_percentage").find("div[class='grp-readonly']").text());
            // stop if perc doesn't exist because this only works when editing a pcg.
            if (!percValue) { return; }
            // current price value
            const priceValue = parseInt($("#id_price").val());
            if (priceValue == 0 || edit) {
                // value of the id_price_tax_free input
                const taxFreeValue = parseFloat($("#id_price_tax_free").val());
                // unrounded price value.
                // example with VAT-free price 15e and 24%, (15*24 / 100) + 15 = 18.6
                const sum = (taxFreeValue * percValue / 100) + taxFreeValue;
                // set price input value to a rounded version of sum
                $("#id_price").val((Math.round((sum + Number.EPSILON) * 100) / 100).toFixed(2));
            }
        };
        $(document).ready(function () {
            changeTaxfreeValue();
            $("#id_price").change(function () {
                // triggers when id_price input value changes.
                changeTaxfreeValue(true);
            });
            $("#id_price_tax_free").change(function () {
                changePrice(true);
            });

            const cgTimeslotPriceElements = $("#customer_group_time_slot_prices-group").find("div[id]").find("div[class='grp-tr']").find(".grp-td.price").find("input");
            const cgTimeslotVATfreeElements = $("#customer_group_time_slot_prices-group").find("div[id]").find("div[class='grp-tr']").find(".grp-td.price_tax_free").find("input");
            // add event listener to all customergroup timeslot price input elements.
            $(cgTimeslotPriceElements).on("change", function (event) {
                // current tax %
                const percValue = parseFloat($(".product_tax_percentage").find("div[class='grp-readonly']").text());
                if (!percValue) { return; }
                // cg time slot price value
                const priceValue = parseFloat($(this).val());
                // id of current price input -> id contains number that is also the index.
                const id = event.target.id;
                // index of current input, so we can find the correct taxfree input to change.
                const cgIndex = parseInt(id.match(/\d+/g)[0]);
                // the taxfree input that corresponds to this input.
                const vatFreeInput = $("#customer_group_time_slot_prices-group").find("div[id]").find("div[class='grp-tr']").find(".grp-td.price_tax_free").find("input")[cgIndex];
                // calculate new unrounded taxfree price value.
                const sum = 100 * priceValue / (100 + percValue);
                // set rounded tax free value to the correct taxfree input.
                $(vatFreeInput).val((Math.round((sum + Number.EPSILON) * 100) / 100).toFixed(2));
            });
            $(cgTimeslotVATfreeElements).on("change", function (event) {
                const percValue = parseFloat($(".product_tax_percentage").find("div[class='grp-readonly']").text());
                if (!percValue) { return; }
                const taxFreeValue = parseFloat($(this).val());
                const id = event.target.id;
                // index of current input, so we can find the correct taxfree input to change.
                const cgIndex = parseInt(id.match(/\d+/g)[0]);
                // the taxfree input that corresponds to this input.
                const priceInput = $("#customer_group_time_slot_prices-group").find("div[id]").find("div[class='grp-tr']").find(".grp-td.price").find("input")[cgIndex];
                const sum = (taxFreeValue * percValue / 100) + taxFreeValue;
                // set rounded tax free value to the correct taxfree input.
                $(priceInput).val((Math.round((sum + Number.EPSILON) * 100) / 100).toFixed(2));
            });
        });
    })(grp.jQuery);
</script>
{{ block.super }}
{% endblock %}
