{% extends "respa_admin/_base.html" %}
{% load static %}
{% load i18n %}
{% load templatetags %}

{% block form_nav %}
<div id="popup-notification" class="popup-notification success">
    <span id="popup-message" class="text-center"></span>
</div>
{% if qualitytool_redirect_context %}
<div class="panel panel-default noti {{ qualitytool_redirect_context.type }} closable-notification">
    <h4 class="center-block">{{ qualitytool_redirect_context.message }}</h4>
    <button class="remove-click pull-right" type="button">
        {% trans 'Close' %} <span class="glyphicon glyphicon-remove icon-right" aria-hidden="true"></span>
    </button>
</div>
{% endif %}
<div class="panel panel-default form-nav-wrapper">
    <div class='container form-header-wrapper'>
        <div class="container-fluid row form-header">
            <div class='form-title col-sm-6'>
                <h2>
                    <span class="glyphicon {% if is_edit %}glyphicon-wrench{% else %}glyphicon-plus-sign{% endif %} icon-left" aria-hidden="true"></span>
                    <p style="margin-left: 15px;">{{ page_title }}</p>
                </h2>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container" style="margin-top: 25px;">
            <form action="." method="get">
                <div class="form-group listing-search center-block">
                    {% if not is_edit %}
                    <div class="input-group">
                        <span class="input-group-addon">{% trans 'Search' %}</span>
                        <input autofocus id="target-search" type="text" class="form-control text-input" name="search" value="{{ request.GET.search }}">
                    </div>
                        <label for="target-search" class="help-text small-text">{% trans 'Search for Suomi.fi quality tool targets' %}</label>
                    {% endif %}
                </div>
            </form>
        </div>
    </nav>
</div>
{% endblock %}
{% block body %}
    {% if qualitytool_target_options %}
    <div class="container">
        <label class="help-text">
            {% trans 'Suomi.fi e-service' %}
        </label>
        <div class="col-wrap-container fluid row-wrap" style="margin-top: 0">
        {% for target in qualitytool_target_options %}
            <div class="checkbox-container" data-qualitytool-target="true">
                <input 
                    type="radio" 
                    id="{{ target.id }}" 
                    name="target" 
                    class="bg-input" 
                    data-value="{{ target.targetId }}"
                    {% for LANGUAGE in AVAILABLE_LANGUAGE_CODES %}
                        data-target-name-{{ LANGUAGE }}="{{ target.name|get_value_from_dict:LANGUAGE }}"
                    {% endfor %}
                    {% if target.checked %}
                    checked
                    {% endif %}
                />
                <label for="{{ target.id }}" class="margin-sm-left text-align-center">{{ target.name|get_value_from_dict:LANGUAGE_CODE }}</label>
            </div>
        {% endfor %}
        </div>
        <div style="border-bottom: 1px solid lightgray; margin-top: 20px; margin-bottom: 20px;">   
        </div>
        {% if resources %}
        <h6 class="help-text" style="margin-top:0;margin-bottom:20px;">
            {% trans 'Suomi.fi e-service connected resources' %}
        </h6>
        <div class="row">
            <div class="col-sm-9">
                <div style="display: flex">
                    <button type="button" class="btn btn-default" id="select-all-btn">{% trans 'Select all' %}</button>
                    <div class="form-group listing-search fluid align-items-center" style="margin-left: auto; margin-bottom: 0;">
                        <div class="input-group">
                            <span class="input-group-addon">{% trans 'Filter' %}</span>
                            <input type="text" class="form-control text-input" id="resource-filter" />
                        </div>
                    </div>
                </div>
                {% include "respa_admin/common/_paginated_resource_list.html" with resources=resources per_page=10 paginator_id=random_id_str %}
            </div>
            <div class="col-sm-3">
                <div class="emails-list-form text-align-center">
                    <label class="control-label input-label">
                        <div style="position: relative;display:flex;justify-content: flex-end;align-items: center;">
                            {% trans 'Filter reservations by reservation email' %}
                            <div style="cursor:pointer">
                                <span class="glyphicon glyphicon-question-sign" title="{% trans 'Limitation for calculating usage volume' %}"></span>
                            </div>
                        </div>
                        <input 
                        class="form-control text-input flex-align-end" 
                        type="email" placeholder="{% trans 'Email' %}"
                        id="email-input"
                        style="margin-top: 5px;" />
                    </label>
                    <div>
                        <a id="add-email-btn" class="btn">{% trans 'Add e-mail' %}</a>
                        <a id="remove-email-btn" class="btn">{% trans 'Remove selected' %}</a>
                    </div>
                    <ul id="quality-tool-emails" class="emails-list">
                        {% for email in qualitytool_emails %}
                         <li title="{{ email }}" data-value="{{ email }}">{{ email }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-wrap-container fluid row-wrap justify-center">
            <span class="help-text">{% trans 'No resources found' %}</span>
        </div>
        {% endif %}
        <div class="col-wrap-container row-wrap space-between">
            {% csrf_token %}
            {% if is_edit %}
                <a id="qualitytool-link-btn" class="btn btn-mb-12 border-thick" href="#">{% trans 'Save changes' %}</a>
            {% else %}
                <a id="qualitytool-link-btn" class="btn btn-mb-12 border-thick" href="#">{% trans 'Save' %}</a>
            {% endif %}
            </a>
        </div>
    </div>
    {% else %}
        {% if request.GET.search %}
        <div class="col-wrap-container row-wrap justify-center">
            <span>{% trans 'No target options found' %}</span>
        </div>
        {% endif %}
    {% endif %}
{% endblock body %}


{% block js_extra %}
    <script type="text/javascript" src="{% static 'respa_admin/qualityToolForm-bundle.js' %}"></script>
{% endblock js_extra %}