{% load i18n %}
{% load templatetags %}

{% if form.errors or resource_image_formset.errors or period_formset_with_days.errors or resource_options_formset.errors or resource_universal_formset.errors  or publish_date_formset.errors %}
    <div class="alert alert-danger">
        <strong>{% trans "Check the following errors" %}:</strong>
            {% if form.errors|is_truthy %}
            <div>
                {% if not IS_UNIT_PAGE %}
                <strong>{% trans "resource"|capfirst %}</strong>
                {% else %}
                <strong>{% trans "unit"|capfirst %}</strong>
                {% endif %}
            </div>
            <ul class="errorlist">
            {% for field, errors in form.errors.items %}
            <li>
                {{ field|label:form }}
                <ul class="errorlist">
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
            </ul>
            {% endif %}   
            {% if resource_image_formset and resource_image_formset.errors|is_truthy %}
            <div>
                <strong>{% trans "resource image"|capfirst %}</strong>
            </div>
            {% for error in resource_image_formset.errors|remove_empty %}
                {{ error }}
            {% endfor %}
            {% endif %}
            
            {% if period_formset_with_days and period_formset_with_days.errors|is_truthy %}
            <div>
                <strong>{% trans "Period"|capfirst %}</strong>
            </div>
            {% for error in period_formset_with_days.errors|remove_empty %}
                {{ error }}
            {% endfor %}
            {% endif %}

            {% if resource_universal_formset and resource_universal_formset.errors|is_truthy %}
            <div>
                <strong>{% trans "Fields"|capfirst %}</strong>
            </div>
                {% for error in resource_universal_formset.errors|remove_empty %}
                    {{ error }}
                {% endfor %}
            {% endif %}
            
            {% if resource_options_formset and resource_options_formset.errors|is_truthy %}
            <div>
                <strong>{% trans "Options"|capfirst %}</strong>
            </div>
                {% for error in resource_options_formset.errors|remove_empty %}
                    {{ error }}
                {% endfor %}
            {% endif %}
            
            {% if publish_date_formset and publish_date_formset.errors|is_truthy %}
            <div>
                <strong>{% trans "Scheduled publish"|capfirst %}</strong>
            </div>
                {% for error in publish_date_formset.errors|remove_empty %}
                    {{ error }}
                {% endfor %}
            {% endif %}
    </div>
{% endif %}
